version: '3.8'

services:
  # --- DATABASE (Tetap Sama) ---
  mysql-db:
    image: mysql:5.7
    container_name: padel-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: padel_db
    ports:
      - "3306:3306"
    networks:
      - padel-net

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: padel-admin
    restart: always
    environment:
      PMA_HOST: mysql-db
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "8081:80"
    depends_on:
      - mysql-db
    networks:
      - padel-net

  # --- MICROSERVICES (Dipindahkan ke folder services/) ---
  court-service:
    build: ./services/court-service  # Path berubah
    container_name: padel-court
    ports:
      - "4001:4001" # Tetap expose port asli untuk debugging/inter-service
    depends_on:
      - mysql-db
    environment:
      DB_HOST: mysql-db
      DB_USER: root
      DB_PASS: rootpassword
      DB_NAME: padel_db
    networks:
      - padel-net

  booking-service:
    build: ./services/booking-service # Path berubah
    container_name: padel-booking
    ports:
      - "4002:4002"
    depends_on:
      - court-service
      - mysql-db
    environment:
      DB_HOST: mysql-db
      DB_USER: root
      DB_PASS: rootpassword
      DB_NAME: padel_db
    networks:
      - padel-net

  # --- API GATEWAY (BARU) ---
  api-gateway:
    build: ./api-gateway
    container_name: padel-gateway
    ports:
      - "3000:3000" # Gateway jadi pintu utama di Port 3000
    depends_on:
      - court-service
      - booking-service
    environment:
      COURT_SERVICE_URL: http://court-service:4001
      BOOKING_SERVICE_URL: http://booking-service:4002
    networks:
      - padel-net

  # --- FRONTEND (Path & Port Berubah) ---
  frontend-app:
    build: ./frontend-app
    container_name: padel-frontend
    ports:
      - "3002:3000" # Frontend diakses user lewat Browser di 3002
    depends_on:
      - api-gateway
    networks:
      - padel-net

networks:
  padel-net:
    driver: bridge